@font-face {
  font-family: norwester;
  src: url('../../core/fonts/norwester.woff');
}
.app.audio .icon {
  color: #1E3840;
}
i {
  color: #F1E9D4;
}
#audio-wrapper {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  border-radius: 0;
  font-family: norwester;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0 !important;
  border: none !important;
}
.audio-header {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  display: table;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}
.audio-header input {
  color: black !important;
}
.audio-header .audio-header-buttons {
  float: right;
}
.audio-header .audio-header-button-right {
  float: right;
}
.audio-header .audio-header-button-left {
  float: left;
}
.audio-header .audio-header-button-left,
.audio-header .audio-header-button-right {
  font-size: 32px;
}
.audio-header .audio-header-button-left i,
.audio-header .audio-header-button-right i {
  padding: 8px 10px 10px;
  margin: 0px;
}
.audio-header .audio-header-title.mobile {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 60%;
}
.audio-header .audio-header-title.desktop {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 65%;
}
.audio-header .audio-header-title,
.audio-header .search-field {
  text-align: left;
  padding-top: 5px;
  font-size: 1.2em;
  color: #F1E9D4;
}
.audio-header .audio-header-title {
  padding-top: 8px;
  position: absolute;
  left: 10px;
}
.audio-header .audio-header-title.desktop {
  left: 50px;
}
.audio-header i {
  font-size: 32px;
  margin: 0px;
  padding: 5px;
}
.audio-header .search-field {
  padding-top: 0px !important;
  position: absolute;
  left: 10px;
  margin-top: 4px;
  margin-left: 40px;
}
#audio-content {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #A0BABB;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.audio-browser {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.audio-browser::-webkit-scrollbar {
  width: 0 !important;
}
.audio-browser table tr td {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  font-size: 1em;
  color: #262223;
  padding: 3px !important;
}
.audio-browser table.desktop tr td {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  padding-left: 46px !important;
}
#audio-footer {
  overflow-y: hidden;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  color: #F1E9D4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 5px !important;
  -webkit-box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.49);
  z-index: 100;
}
#audio-footer.open {
  height: 400px !important;
}
#slide-open-playlist,
#slide-close-playlist {
  float: right;
}
#slide-open-playlist i,
#slide-close-playlist i {
  font-size: 24px;
  margin-right: 10px;
}
#audio-control {
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin-left: auto !important;
  margin-right: auto !important;
}
#audio-control i,
#volume-control i {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 32px;
}
#track-control i,
#clear-playlist i {
  font-size: 26px;
  padding-right: 10px;
  padding-top: 5px;
}
#track-control,
#clear-playlist {
  float: left;
  margin-left: 10px;
}
#track-control #shuffle-disable-button i {
  color: #F2A922 !important;
}
#volume-control {
  float: right;
  margin-right: 20px;
}
#volume-control ul.dropdown-menu {
  padding-bottom: 0px;
  margin-right: 10px;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  max-width: 70px;
  min-width: 70px;
  background-color: #F1E9D4 !important;
}
#volume-control ul.dropdown-menu li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  width: 40px;
}
#volume-control .triangle-up {
  margin-right: 21px;
  border-color: transparent transparent #F1E9D4 transparent;
}
#volume-control ul.dropdown-menu span.percentage {
  padding-top: 8px;
  padding-left: 3px;
}
#volume-control ul.dropdown-menu span {
  color: #1E3840;
  font-size: 18px;
}
#volume-control ul.dropdown-menu i {
  font-size: 24px;
  display: block;
}
#song-bar {
  text-align: center;
  font-size: 0.8em;
}
#progress-bar {
  padding-top: 4px;
  text-align: center;
  font-size: 1.1em;
  padding-bottom: 4px !important;
}
#playlist-summary {
  width: 100%;
}
#playlist-summary table {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}
#playlist-wrapper {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  height: 100%;
}
.scroll {
  overflow: scroll;
}
#playlist-wrapper table {
  padding-bottom: 0 !important;
}
#playlist-wrapper table tr td {
  font-size: 0.8em;
  text-align: center;
  color: #F1E9D4;
  margin-bottom: 0;
}
#playlist-summary {
  margin-bottom: 0 !important;
}
#playlist-browser {
  margin-bottom: 70px;
}
#playlist-summary > tbody > tr:nth-child(2n+1) > td,
#playlist-summary > tbody > tr:nth-child(2n+1) > th,
#playlist-browser > tbody > tr:nth-child(2n+1) > td,
#playlist-browser > tbody > tr:nth-child(2n+1) > th {
  background-color: #262223;
}
#playlist-summary > tbody > tr:nth-child(2n) > td,
#playlist-summary > tbody > tr:nth-child(2n) > th,
#playlist-browser > tbody > tr:nth-child(2n) > td,
#playlist-browser > tbody > tr:nth-child(2n) > th {
  background-color: #1E3840;
}
#playlist-summary > tbody > tr.info > td,
#playlist-browser > tbody > tr.info > td,
#playlist-summary > tbody > tr > td.info,
#playlist-browser > tbody > tr > td.info {
  background-color: #F2A922 !important;
  color: #262223 !important;
}
#audio-content #error-wrapper {
  position: absolute;
  z-index: 200;
  bottom: 5px;
  width: 100%;
  height: 30px;
}
table.browser i,
table.search i {
  font-size: 24px;
}
table.browser tr td,
table.search tr td {
  padding-top: 8px !important;
  padding-bottom: 5px !important;
  font-size: 1.2em !important;
  padding-left: 10px !important;
}
table#playlist-summary tr td,
table#playlist-browser tr td {
  padding-top: 5px !important;
  padding-bottom: 3px !important;
  font-size: 0.9em !important;
}
