# {{ ansible_managed }}
#
# Configuration file for /sbin/dhclient, which is included in Debian's
#	dhcp3-client package.
#

option rfc3442-classless-static-routes code 121 = array of unsigned integer 8;

send host-name "{{ HOSTNAME }}";
send fqdn.fqdn "{{ HOSTNAME }}.local.";
send fqdn.encoded on;
send fqdn.server-update off;
also request fqdn, dhcp6.fqdn;

request subnet-mask, broadcast-address, time-offset, routers,
	domain-name, domain-name-servers, domain-search,
	dhcp6.name-servers, dhcp6.domain-search,
	netbios-name-servers, netbios-scope, interface-mtu,
	rfc3442-classless-static-routes, ntp-servers;