<div class="right-click modal fade" id="chooseServerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" ng-if="original">
                    BlueBox not found
                </h5>
                <h5 class="modal-title" ng-if="!original">
                    Enter BlueBox IP address
                </h5>
            </div>
            <div class="options modal-body">
                <p ng-if="original">Choose the ip-address for your bluebox device</p>
                <input class="form-control" placeholder="192.168.1.10 or bluebox.local" type="text" ng-model="address">
                <div class="label label-danger" ng-if="error">
                    {{ error }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="configureServer(address)">Choose server</button>
            </div>
        </div>
    </div>
</div>