<div id="audio-wrapper" class="panel panel-default">
    <div class="audio-header panel-heading" ng-if="mode == modePlayer">
        <span class="audio-header-button-left"
              ng-if="hasParentDirectory() && !isCordovaLoaded()"
              ng-click="openParentDirectory()">
            <i class="fa fa-arrow-left"></i>
        </span>

        <span class="audio-header-title" ng-class="{desktop: !isCordovaLoaded(), mobile: isCordovaLoaded()}">
            {{ getCurrentDirectoryName() }}
        </span>

        <div class="audio-header-buttons">
            <div class="audio-header-button-right" ng-if="!isCordovaLoaded()" ng-if="!fullscreen" ng-click="toggleFullScreen()">
                <i class="fa fa-arrows-alt"></i>
            </div>

            <div class="audio-header-button-right" id="add">
                <div class="dropdown">
                    <i class="fa fa-plus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        <div class="triangle-up"></div>
                        <li data-toggle="modal" data-target="#createDirectoryModal">New directory</li>
                    </ul>
                </div>
            </div>

            <div class="audio-header-button-right" ng-click="startSearch()">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>

    <div class="audio-header panel-heading" ng-class="{hidden: mode != modeSearch}">
        <span class="audio-header-button-left" ng-click="cancelSearch()">
            <i class="fa fa-arrow-left"></i>
        </span>

        <span class="search-field">
            <input id="search-field" type="text" placeholder="Search songs"
                   ng-model="query" ng-focus="searchSongs(query)" ng-change="searchSongs(query)" />
        </span>

        <span class="audio-header-button-right" ng-if="!fullscreen" ng-click="toggleFullScreen()">
            <i class="fa fa-arrows-alt"></i>
        </span>
    </div>

    <div class="audio-header panel-heading" ng-if="mode == modeCopy">
        <span class="audio-header-button-left"
              ng-if="hasParentDirectory() && !isMobile()"
              ng-click="openParentDirectory()">
            <i class="fa fa-arrow-left"></i>
        </span>

        <span class="audio-header-title" ng-class="{desktop: !isMobile()}">
            Copy to {{ getCurrentDirectoryName() }}
        </span>

        <span class="audio-header-button-right"
              ng-if="!fullscreen"
              ng-click="toggleFullScreen()">
            <i class="fa fa-arrows-alt"></i>
        </span>

        <span class="audio-header-button-right"
              ng-click="cancelCopy()">
            <i class="fa fa-remove"></i>
        </span>

        <span class="audio-header-button-right"
              ng-click="confirmCopy()">
            <i class="fa fa-check"></i>
        </span>
    </div>

    <div class="audio-header panel-heading" ng-if="mode == modeMove">
        <span class="audio-header-button-left" ng-if="hasParentDirectory() && !isMobile()"
              ng-click="openParentDirectory()">
            <i class="fa fa-arrow-left"></i>
        </span>
        <span class="audio-header-title" ng-class="{desktop: !isMobile()}">
            Move to {{ getCurrentDirectoryName() }}
        </span>
        <span class="audio-header-button-right" ng-if="!fullscreen" ng-click="toggleFullScreen()">
            <i class="fa fa-arrows-alt"></i>
        </span>
        <span class="audio-header-button-right" ng-click="confirmMove()">
            <i class="fa fa-check"></i>
        </span>
        <span class="audio-header-button-right" ng-click="cancelMove()">
            <i class="fa fa-remove"></i>
        </span>
    </div>

    <div id="audio-content" ng-class="{open: slideIsOpen}"  class="panel-body">
        <div class="audio-browser">
            <table class="table browser table-condensed table-striped" ng-class="{desktop: !isMobile()}"
                   ng-if="mode == modePlayer || mode == modeCopy || mode == modeMove">
                <tr ng-repeat="dir in directories">
                    <td colspan="100%" ng-click="openDirectory(dir.path)"
                        on-long-press="openDirectoryOptions(dir)"
                        ng-right-click="openDirectoryOptions(dir)"
                        ng-if="dir.name != '..'">
                        {{ dir.name }}
                    </td>
                </tr>
                <tr ng-repeat="song in songs" ng-class="{info: isInPlaylist(song)}"
                    ng-click="toggleSong(song)"
                    on-long-press="openSongOptions(song)"
                    ng-right-click="openSongOptions(song)">
                    <td>{{ song | prettySong }}</td>
                    <td>{{ song.clipInfo.duration | time }}</td>
                </tr>
            </table>

            <table ng-if="mode == modeSearch" class="table search table-condensed table-striped" ng-class="{desktop: !isMobile()}">
                <tr>
                    <td class="info" colspan="100%"
                        ng-if="searchResults.completions['artist'].length + searchResults.completions['title'].length > 0">
                        Suggestions
                    </td>
                </tr>
                <tr ng-repeat="artist in searchResults.completions['artist']">
                    <td colspan="100%" ng-click="searchSongs(artist)">
                        <i class="fa fa-user"></i>{{ artist }}
                    </td>
                </tr>
                <tr ng-repeat="title in searchResults.completions['title']">
                    <td colspan="100%" ng-click="searchSongs(title)">
                        <i class="fa fa-music"></i> {{ title }}
                    </td>
                </tr>

                <tr ng-repeat-start="(dir, songs) in searchResults.songs">
                    <td class="info" colspan="100%">{{dir}}</td>
                </tr>
                <tr ng-class="{info: isInPlaylist(song)}"
                    ng-repeat-end ng-repeat="song in songs"
                    ng-click="toggleSong(song)"
                    on-long-press="openSongOptions(song)"
                    ng-right-click="openSongOptions(song)">
                    <td>{{ song | prettySong }}</td>
                    <td>{{ song.clipInfo.duration | time }}</td>
                </tr>
            </table>

            <div id="error-wrapper" ng-class="{hidden: !errors['box']}">
                <div class="error-notification-box">
                    {{ errors['box'] }}
                </div>
            </div>
        </div>
    </div>

    <div id="audio-footer" ng-class="{open: slideIsOpen}" class="panel-footer">

        <div id="slide-open-playlist" ng-click="slideOpen()" ng-if="!slideIsOpen">
            <i class="fa fa-chevron-up"></i>
        </div>
        <div id="slide-close-playlist" ng-click="slideClose()" ng-if="slideIsOpen">
            <i class="fa fa-chevron-down"></i>
        </div>

        <span id="track-control" ng-if="!slideIsOpen">
            <span id="shuffle-enable-button" ng-click="setShuffleMode()" ng-if="playMode == 'simple'">
                <i class="fa fa-random"></i>
            </span>

            <span id="shuffle-disable-button" ng-click="setSimpleMode()" ng-if="playMode != 'simple'">
                <i class="fa fa-random"></i>
            </span>
        </span>

        <span id="clear-playlist" ng-if="slideIsOpen && playlist && playlist.songs.length > 0">
            <span id="clear-playlist-button" data-toggle="modal" data-target="#clearCurrentPlaylistModal">
                <i class="fa fa-times"></i>
            </span>
        </span>

        <span id="volume-control" ng-if="!slideIsOpen">
            <div class="dropdown">
                <span ng-click="toggleVolumeSlider()">
                    <i ng-if="!muted && volume.volume > 0" class="fa fa-volume-down"></i>
                    <i ng-if="muted || volume.volume == 0"  class="fa fa-volume-off" style="margin-right:9px"></i>
                </span>
                <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenu2" style="width: 40px !important">
                    <div class="triangle-up"></div>
                    <span>
                        <span class="percentage" style="float:left;">{{ volume.volume }}%</span>
                        <span style="float:right;">
                            <i class="fa fa-plus" ng-click="volumeUp()"></i>
                            <i class="fa fa-minus" ng-click="volumeDown()"></i>
                        </span>
                    </span>
                </ul>
            </div>
        </span>

        <div id="audio-control">
            <span><i class="fa fa-backward" ng-click="previous()"></i></span>
            <span><i ng-if="!playing" class="fa fa-play" ng-click="resume()"></i></span>
            <span><i ng-if="playing" class="fa fa-pause" ng-click="pause()"></i></span>
            <span><i class="fa fa-forward" ng-click="next()"></i></span>
        </div>

        <div id="progress-bar">
            {{ progress.progress | time }} / {{ progress.total | time }}
        </div>

        <div id="playlist-wrapper" ng-class="{scroll: slideIsOpen}">
             <!-- Next 3 songs when slide is closed-->
            <table id="playlist-summary" class="table table-condensed" ng-if="!slideIsOpen">
                <tr ng-repeat="playlistSong in nextSongs(3)">
                    <td ng-if="playlistSong" ng-class="{info: song.songHash == playlistSong.songHash}"
                        ng-click="skipTo(playlistSong)">
                        {{ playlistSong | prettySong }}
                    </td>
                </tr>
            </table>

            <!-- Full playlist when slide is open-->
            <table id="playlist-browser" class="table table-condensed table-striped" ng-if="slideIsOpen">
                <tr ng-repeat="playlistSong in playlist.songs" ng-class="{info: song.songHash == playlistSong.songHash}">
                    <td ng-click="removeSong(playlistSong)" style="width: 60px">

                    </td>
                    <td ng-click="skipTo(playlistSong)">
                        {{ playlistSong | prettySong }}
                    </td>
                    <td ng-click="removeSong(playlistSong)" style="width: 60px">
                        <i class="fa fa-minus"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="createDirectoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close fa fa-times" data-dismiss="modal"></i>
                <h4 class="modal-title">Create a directory</h4>
            </div>
            <div class="modal-body">
                <p>
                    Choose a name for the new directory
                </p>
                <input type="text" class="form-control" ng-model="newDirectory" placeholder="Enter directory name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="createDirectory(newDirectory)">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="right-click modal fade" id="directoryOptionsModal">
    <div class="modal-dialog">

        <div class="modal-content small">
            <div class="modal-header">
                <i class="close fa fa-times" data-dismiss="modal"></i>
                <h4 class="modal-title">
                    {{optionDirectory.name}}
                </h4>
            </div>

            <div class="options modal-body">

                <div class="option-container">
                    <span class="option" ng-click="startRename('dir')">
                        Rename
                    </span>
                </div>

                <div class="option-container">
                    <span class="option" ng-click="deleteDirectory(optionDirectory.path, false)">
                        Delete
                    </span>
                    <div class="error" ng-if="errors.delete">
                        <div class="message">{{ errors.delete }}</div>

                        <span type="button" class="btn btn-default btn-md" ng-click="deleteDirectory(optionDirectory.path, true)">
                            Yes
                        </span>
                        <span type="button" class="btn btn-default btn-md" ng-click="resetErrors()">
                            No
                        </span>
                    </div>
                </div>
                <div class="option-container">
                    <span class="option" ng-click="startMove('dir')">
                        Move
                    </span>
                </div>

                <div class="option-container">
                    <span class="option" ng-click="startCopy('dir')">
                        Copy
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="right-click modal fade" id="songOptionsModal">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <i class="close fa fa-times" data-dismiss="modal"></i>
                <h4 class="modal-title">
                    {{optionSong | prettySong }}
                </h4>
            </div>

            <div class="options modal-body">
                <div class="option-container">
                    <span class="option" ng-click="addNext(optionSong)">
                        Add next
                    </span>
                </div>

                <div class="option-container">
                    <span class="option" ng-click="startRename('song')" ng-if="!optionSong.clipInfo.artist">
                        Rename
                    </span>
                </div>

                <div class="option-container">
                    <span class="option" ng-click="startMove('song')">
                        Move
                    </span>
                </div>

                <div class="option-container">
                    <span class="option" ng-click="startCopy('song')">
                        Copy
                    </span>
                </div>

                <div class="option-container">
                    <span class="option" ng-click="deleteSong(optionSong)">
                        Delete
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="right-click modal fade" id="renameFileModal">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <i class="close fa fa-times" data-dismiss="modal"></i>
                <h4 class="modal-title">
                    Rename {{optionSong | prettySong }}
                </h4>
            </div>

            <div class="options modal-body">
                <div class="option-container">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="renameTo" placeholder="{{optionSong.fileName}}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="confirmRename(renameTo)">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="right-click modal fade" id="clearCurrentPlaylistModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close fa fa-times" data-dismiss="modal"></i>
                <h4 class="modal-title">
                    Clear the playlist?
                </h4>
            </div>

            <div class="options modal-body">
                <p>
                    Are you sure you want to remove all items from the playlist?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary" ng-click="clearPlaylist()">Clear</button>
            </div>
        </div>
    </div>
</div>

<div class="right-click modal fade" id="renameDirectoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close fa fa-times" data-dismiss="modal"></i>
                <h4 class="modal-title">
                    Rename {{ optionDirectory.name }}
                </h4>
            </div>

            <div class="options modal-body">
                <div class="option-container">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="renameTo" placeholder="{{optionSong.fileName}}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="confirmRename(renameTo)">Save changes</button>
            </div>
        </div>
    </div>
</div>

