@icon-xs: 18px;
@icon-sm: 24px;
@icon-md: 32px;
@icon-lg: 48px;

@color1: #1E3840;
@color2: #377073;
@color3: #F1E9D4;
@color4: #F2A922;
@color5: #262223;
@color6: #fdf5e0;
//@color7: #667f80;
@color7: #7d9da4;
@color8: #A0BABB;

@icon-color: @color3;
@error-color: red;

@footer-font-size: 0.8em;
@footer-font-color: @color3;
@footer-font-color-active: @color5;
@footer-row-active: @color4;
@footer-background: @color1;
@footer-striped1: @color5;
@footer-striped2: @footer-background;

@content-font-size: 1em;
@content-font-color: @color5;
@content-row-active: @color1;
@content-font-color-active: @color4;
@content-striped1: @color8;
@content-striped2: @color7;

@header-font-color: @color3;
@header-font-size: 1.2em;

@error-box-background: rgba(30,30,30,0.5);
@error-box-font-color: @color4;

@font-face {
  font-family: norwester;
  src: url('../../core/fonts/norwester.woff');
}

.gradient-bg() {  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+42,ffffff+100&1+12,0+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.66) 42%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(12%, rgba(255, 255, 255, 1)), color-stop(42%, rgba(255, 255, 255, 0.66)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.66) 42%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.66) 42%, rgba(255, 255, 255, 0) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.66) 42%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.66) 42%, rgba(255, 255, 255, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.transform(@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}

.transform-origin(@origin) {
  -webkit-transform-origin: @origin;
  transform-origin: @origin;
  -moz-transform-origin: @origin;
}

.reset-div()  {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;

  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.crop-text(@width) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: @width;
}

.no-text-selection() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}