@import "base.less";

body {
  .no-text-selection();

  font-family: 'Orbitron', sans-serif;

  .reset-div();
}

#bluebox-wrapper {
  height: 100vh;
  overflow-y: hidden;
}

.app {
  margin-top: 15px !important;
  margin-bottom: 0px !important;
}

.app .icon {
  font-size: 4em;
  width: 100%;
  text-align: center;
}

.app .title {
  font-size: 1.5em;
  width: 100%;
  color: darkslategray;
  text-align: center;
}

#apps-panel {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: hidden;
}

.options {
  padding: 10px;
  margin: 10px;
  font-size: 1.1em;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.options .option-container {
  text-align: center;
  padding: 5px;
}

.options .option-container .option {
  text-align: center;
  padding: 8px;
  font-size: 1.4em;
  width: 100%;
}

.modal-content.small {
  max-width: 250px !important;
}

.options .error {
  font-size: 0.9em;
  color: @error-color;
}

.modal.right-click > .modal-dialog > .modal-content {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 400px;
  border-radius: 0px;
}

.error-notification-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  max-width: 90%;
  text-align: center;
  background: @error-box-background;
  color: @error-box-font-color;
  border-radius: 3px;
  font-weight: 400;
  font-size: 1.1em;
  padding-top: 2px;
}

.ui-loader {
  height: 0px !important;
  display: none;
}

.fa-plus {
  color: green;
}

.fa-minus {
  color: red;
}