/*
  The welcome wrapper ensures css from another app is not affecting this app.
*/
@import "base.less";

#welcome-wrapper {
  background: red !important;
}

/*
When creating new css prefix it with the #welcome-wrapper.
A few examples:


1.  A class within the welcome wrapper:

    <div id="welcome-wrapper">
      <i class="some-class-you-need fa fa-icon-ok"></i>
    </div>

    #welcome-wrapper .some-class-you-need {
      css comes here
    }


2.  An id within the welcome wrapper:

    <div id="welcome-wrapper">
      <a href="http://google.com" id="some-identifier-you-need"></a>
    </div>

    #welcome-wrapper #some-identifier-you-need {
      css comes here
    }



3.  A div with a class within the welcome wrapper:

    <div id="welcome-wrapper">
      <div class="some-class-you-need"></div>
    </div>

    #welcome-wrapper div.some-class-you-need {
      css comes here
    }



4.  A link withing the diff of example 3:

    <div id="welcome-wrapper">
      <div class="some-class-you-need">
        <a href="http://google.com"></a>
      </div>
    </div>

    #welcome-wrapper div.some-class-you-need a {
      css comes here
    }

*/